    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>

                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="/">
                            <i class="fa fa-windows"></i> Index
                        </a>
                    </li>
                    <li>
                        <a href="/monitor">
                            <i class="fa fa-area-chart"></i> Monitor
                        </a>
                    </li>
                    <li>
                        <a href="http://10.154.249.12/kvm">
                            <i class="fa fa-area-chart"></i> Report
                        </a>
                    </li>
                    <li>
                        <a href="/link">
                            <i class="fa fa-th"></i> Link
                        </a>
                    </li>
                </ul>

            </nav>
        </div>